[run]
omit =  */.local/lib/python3.*/site-packages/numpy/*
	*/.local/lib/python3.*/site-packages/scipy/*
	*/.local/lib/python3.*/site-packages/Cython/*
	*/.local/lib/python3.*/site-packages/pyximport/*
