include gillespy2/solvers/cpp/c_base/*
include gillespy2/solvers/cpp/c_base/*.cpp
include gillespy2/solvers/cpp/c_base/*.h
include gillespy2/solvers/cpp/c_base/MakeFile
include gillespy2/solvers/cython/*.pyx
include requirements.txt
