name: Run GillesPy2 Tests

on:
  push:
    branches: [main]

jobs:
  run-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        python-versions: [ '3.7', '3.8', '3.9', '3.10' ]

    steps:
    - name: Initialize environment
      uses: actions/checkout@v2

    - name: Install Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-versions }}

    - name: Install Python dependencies
      run: | 
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install python-libsbml
        pip install cython
        pip install coverage
        pip install nbconvert
        pip install nbformat
        
    - name: Run tests
      run: coverage run --source=gillespy2 --omit=gillespy2/solvers/stochkit/* test/run_tests.py -m develop
