name: Run GillesPy2 Unit Tests

on: [push]

jobs:
  run-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]

    steps:
    - name: Initialize environment
      uses: actions/checkout@v2

    - name: Install Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.7'

    # see: https://github.com/actions/virtual-environments/pull/5729
    # GHA recently upgrading MinGW to v11.20, which seems to break things in that environment.
    # Until this issue can be addressed, downgrade to the previous known working version, v8.1.0.
    - name: Initialize MinGW dependencies
      run: |
        choco install make
        choco uninstall mingw
        choco install mingw --version 8.1.0 --force
      if: matrix.os == 'windows-latest'

    - name: Install Python dependencies
      run: | 
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install python-libsbml
        pip install cython
        pip install coverage
        pip install nbformat
        pip install nbconvert
        
    - name: Run tests
      run: coverage run --source=gillespy2 --omit=gillespy2/solvers/stochkit/* test/run_unit_tests.py -m develop
